In [8]:
# import the imprant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
# read the data
data=pd.read_csv("Credit-History.csv", index_col=0)

In [22]:
# check the shape of the data
data.shape

(981, 13)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 0 to 366
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            981 non-null    object
 1   Gender             957 non-null    object
 2   Married            978 non-null    object
 3   Dependents         956 non-null    object
 4   Education          981 non-null    object
 5   Self_Employed      926 non-null    object
 6   ApplicantIncome    981 non-null    int64
 7   CoapplicantIncome  981 non-null    float64
 8   LoanAmount         954 non-null    float64
 9   Loan_Amount_Term   961 non-null    float64
 10  Credit_History     902 non-null    float64
 11  Property_Area      981 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 107.3+ KB

In [24]:
#check few rows of data
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [14]:
# checking the numarical data 
data.describe()

,Unnamed: 0,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,981.000000,981.000000,981.000000,954.000000,961.000000,902.000000
mean,260.297655,5179.795107,1601.916330,142.511530,342.201873,0.835920
std,165.715096,5695.104533,2718.772806,77.421743,65.100602,0.370553
min,0.000000,0.000000,0.000000,9.000000,6.000000,0.000000
25%,122.000000,2875.000000,0.000000,100.000000,360.000000,1.000000
50%,245.000000,3800.000000,1110.000000,126.000000,360.000000,1.000000
75%,368.000000,5516.000000,2365.000000,162.000000,360.000000,1.000000
max,613.000000,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [30]:
#check if there are missing data
data.isnull().sum()

Loan_ID                0
Gender                24
Married                3
Dependents            25
Education              0
Self_Employed         55
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            27
Loan_Amount_Term      20
Credit_History        79
Property_Area          0
Loan_Status          367
dtype: int64

### These columns have missing data
- Gener 
- Married 
- Dependents 
- Self_Employed 
- LoanAmount 
- Loan_Amount_Term 
- Credit_History 
- Loan_Status

In [26]:
data.sample(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
347,LP002131,Male,Yes,2,Not Graduate,No,3083,2168.0,126.0,360.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213.0,197.0,360.0,1.0,Urban,NaN
164,LP001921,Male,No,1,Graduate,No,3180,2370.0,80.0,240.0,NaN,Rural,NaN
246,LP001814,Male,Yes,2,Graduate,No,9703,0.0,112.0,360.0,1.0,Urban,Y
99,LP001527,Male,Yes,3+,Graduate,No,6835,0.0,188.0,360.0,NaN,Semiurban,NaN
144,LP001508,Male,Yes,2,Graduate,No,11757,0.0,187.0,180.0,1.0,Urban,Y
546,LP002768,Male,No,0,Not Graduate,No,3358,0.0,80.0,36.0,1.0,Semiurban,N
306,LP001993,Female,No,0,Graduate,No,3762,1666.0,135.0,360.0,1.0,Rural,Y
265,LP002441,Male,No,NaN,Graduate,No,3579,3308.0,138.0,360.0,NaN,Semiurban,NaN
116,LP001607,Female,No,0,Not Graduate,No,0,1760.0,180.0,360.0,1.0,Semiurban,NaN
143,LP001791,Male,Yes,0,Graduate,Yes,32000,0.0,550.0,360.0,NaN,Semiurban,NaN
298,LP002635,Female,Yes,2,Not Graduate,No,3729,0.0,117.0,360.0,1.0,Semiurban,NaN
581,LP002893,Male,No,0,Graduate,No,1836,33837.0,90.0,360.0,1.0,Urban,N
210,LP001708,Female,No,0,Graduate,No,10000,0.0,214.0,360.0,1.0,Semiurban,N
136,LP001489,Female,Yes,0,Graduate,No,4583,0.0,84.0,360.0,1.0,Rural,N
102,LP001547,Male,Yes,1,Graduate,No,3901,0.0,116.0,360.0,1.0,Urban,NaN
165,LP001923,Male,No,0,Not Graduate,No,2268,0.0,170.0,360.0,0.0,Semiurban,NaN
33,LP001187,Male,Yes,0,Graduate,No,2783,2708.0,158.0,360.0,1.0,Urban,NaN
433,LP002387,Male,Yes,0,Graduate,No,2425,2340.0,143.0,360.0,1.0,Semiurban,Y